@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* base */
* {
  margin: 10px;
  font-family: "Raleway";

  background-color: #69747C;
  color: #F1F1F1;
}

/* home */
.home h1 {
  text-align: center;

  font-weight: 700;
  font-size: 35px;
  line-height: 56px;
}

.home p {
  text-align: center;

  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.home a {
  margin: 0px;

  text-decoration: none;
  color: #D2E4C4;
}